Repository isorna/dropcommander: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, postcss --config postcss.config.js --replace, remark --frail --quiet --rc-path .remarkrc.json --

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.css": "stylelint",
  "*.scss": ["postcss --config postcss.config.js --replace", "stylelint"],
  "*.md": "remark --frail --quiet --rc-path .remarkrc.json --"
}

style(project dependencies): :rotating_light: remove markdownlint dependency
  .markdownlint.json
Due: none

ci(project dependencies): :rotating_light: apply json schemas to docs folder
  .remarkrc.json
  .vscode/extensions.json
  docs/doc.schema.yaml
  docs/index.schema.yaml
Due: none

refactor(project dependencies): :rotating_light: fix wrong schema declaration
  docs/en/index.md
  docs/es/index.md
  docs/index.schema copy.yaml
  docs/index.schema.yaml
Due: remark --frail --quiet --rc-path .remarkrc.json --

fix(project dependencies): :fire: remove unused file
  docs/.vitepress/cache/deps/_metadata.json
  docs/index.schema copy.yaml
Due: none

feat(build system): :sparkles: refactor category pages, using vitepress built-in createContentLoader method
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/config/en.ts
  docs/.vitepress/config/es.ts
  docs/.vitepress/lib/common.ts
  docs/.vitepress/lib/generate-sidebar.ts
  docs/.vitepress/lib/get-documents-async.ts
  docs/.vitepress/lib/types.ts
  docs/.vitepress/theme/index.ts
  docs/documents.data.ts
  docs/en/dfc/core-rules/index.md
  docs/en/dfc/index.md
  docs/en/dfc/scenarios/index.md
  docs/en/dfc/the-basics/index.md
  docs/en/dzc/index.md
  docs/en/dzc/rules/index.md
  docs/en/dzc/scenarios/index.md
  docs/es/dfc/core-rules/index.md
  docs/es/dfc/index.md
  docs/es/dfc/scenarios/index.md
  docs/es/dfc/the-basics/index.md
  docs/es/dzc/index.md
  docs/es/dzc/rules/index.md
  docs/es/dzc/scenarios/index.md
  docs/pages.js
  docs/public/dzc-book-cover.jpeg
  docs/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, remark --frail --quiet --rc-path .remarkrc.json --

docs(articles): :memo: fix indexing error on es-ES
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/config/es.ts
  docs/.vitepress/config/share.ts
  docs/documents.data.ts
  docs/es/dfc/core-rules/index.md
  docs/es/dfc/earth-2673.md
  docs/es/dfc/scenarios/index.md
  docs/es/dfc/the-basics/index.md
  package-lock.json
Due: eslint --fix, remark --frail --quiet --rc-path .remarkrc.json --

docs(articles): :memo: lintstaged md testing
  docs/es/dzc/scenarios/objectives.md
Due: remark --frail --quiet --rc-path .remarkrc.json --

refactor(build system): :art: unify /img and /public folders
  docs/.vitepress/config/share.ts
  docs/.vitepress/meta.ts
  docs/.vitepress/theme/custom.css
  docs/en/index.md
  docs/es/index.md
  docs/index.md
  docs/public/Battle_For_Earth_BLACK_240x240.webp
  docs/public/DFC_Half_Logo_Black_and_Blue_240x240.webp
  docs/public/DZC_Half_Logo_Black_Green_240x240.webp
  docs/public/DZC_Logo_Black_Green_240x240.webp
  docs/public/Dropfleet_Black_and_Blue_240x240.webp
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/lunar-module.png
  docs/public/moon-landing.dark.png
  docs/public/moon-landing.png
  docs/public/mstile-150x150.png
  docs/public/observatory.png
  docs/public/og.png
  docs/public/ogES.png
  docs/public/orbit.dark.png
  docs/public/orbit.png
  docs/public/planet-landing.png
  docs/public/planet-orbit.png
  docs/public/planetarium.png
  docs/public/safari-pinned-tab.svg
  docs/public/space-colonization.png
  docs/site.webmanifest
Due: eslint --fix, stylelint, remark --frail --quiet --rc-path .remarkrc.json --

refactor(git): :page_facing_up: add MIT license
  LICENSE
Due: none

style(components): :lipstick: refactor card styles, according to CSS Cookbook
  docs/.vitepress/components/CategoryCard.vue
  docs/.vitepress/components/CategoryCardsContainer.vue
  docs/.vitepress/theme/custom.css
Due: stylelint

feat(i18n): :globe_with_meridians: save user's i18n preferences, and redirect page on load to selected language
  docs/.vitepress/config/index.ts
  docs/.vitepress/theme/index.ts
  docs/en/index.md
  docs/es/index.md
  docs/index.md
  docs/public/lang-icon.svg
Due: eslint --fix, remark --frail --quiet --rc-path .remarkrc.json --

build(project dependencies): :arrow_up: upgrade external dependencies
  package-lock.json
Due: none

build(project dependencies): :arrow_up: upgrade external dependencies
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
Due: eslint --fix

docs(components): :memo: update component documentation
  docs/documents.data.ts
Due: eslint --fix

style(components): :lipstick: update breadcrumb styles
  docs/.vitepress/components/BreadCrumb.vue
  docs/public/gt-icon.svg
  docs/public/home-icon.svg
Due: none

docs(articles): :memo: translate phrase
  docs/es/index.md
Due: remark --frail --quiet --rc-path .remarkrc.json --

chore(git): :sparkles: add fr translation submodule
  .gitmodules
Due: none

refactor(build system): :truck: adjust public images file structure and update manifest file accordingly
  docs/.vitepress/config/share.ts
  docs/.vitepress/meta.ts
  docs/en/dzc/contents.md
  docs/en/index.md
  docs/es/dfc/core-rules/damage.md
  docs/es/dzc/contents.md
  docs/es/index.md
  docs/index.md
  docs/public/img/android-chrome-192x192.png
  docs/public/img/android-chrome-512x512.png
  docs/public/img/apple-touch-icon.png
  docs/public/img/content/Battle_For_Earth_BLACK_240x240.webp
  docs/public/img/content/dzc-book-cover.jpeg
  docs/public/img/dfc/DFC_Half_Logo_Black_and_Blue_240x240.webp
  docs/public/img/dfc/Dropfleet_Black_and_Blue_240x240.webp
  docs/public/img/dzc/DZC_Half_Logo_Black_Green_240x240.webp
  docs/public/img/dzc/DZC_Logo_Black_Green_240x240.webp
  docs/public/img/favicon-16x16.png
  docs/public/img/favicon-32x32.png
  docs/public/img/mstile-150x150.png
  docs/public/img/og.png
  docs/public/img/ogES.png
  docs/public/img/safari-pinned-tab.svg
  docs/public/img/ui/gt-icon.svg
  docs/public/img/ui/home-icon.svg
  docs/public/img/ui/lang-icon.svg
  docs/public/img/ui/lunar-module.png
  docs/public/img/ui/moon-landing.dark.png
  docs/public/img/ui/moon-landing.png
  docs/public/img/ui/observatory.png
  docs/public/img/ui/orbit.dark.png
  docs/public/img/ui/orbit.png
  docs/public/img/ui/planet-landing.png
  docs/public/img/ui/planet-orbit.png
  docs/public/img/ui/planetarium.png
  docs/public/img/ui/space-colonization.png
  docs/site.webmanifest
Due: eslint --fix, remark --frail --quiet --rc-path .remarkrc.json --

feat(components): :sparkles: automatically create breadcrumbs from pageData
  docs/.vitepress/components/BreadCrumb.vue
  docs/.vitepress/components/Layout.vue
  docs/.vitepress/lib/types.ts
  docs/documents.data.ts
Due: eslint --fix

chore(project dependencies): :truck: move local es translation to its own repository, add it as a submodule
  .gitmodules
Due: none

build(project dependencies): :recycle: update dependencies
  docs/.vitepress/cache/deps/_metadata.json
Due: none

style(ui): :art: improve dark mode styles
  docs/.vitepress/theme/custom.css
Due: stylelint

chore: :children_crossing: add recommended plugin for json
  .vscode/extensions.json
Due: none

feat(pwa): :sparkles: integrate pwa with vite-pwa
  .gitignore
  .vscode/extensions.json
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/config/index.ts
  docs/site.webmanifest
  docs/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix

feat(components): :sparkles: new DFC ship card component, includes i18n api too
  docs/.vitepress/components/CategoryCard.vue
  docs/.vitepress/components/CategoryCardsContainer.vue
  docs/.vitepress/components/dfc/ShipCard.vue
  docs/.vitepress/theme/index.ts
Due: eslint --fix

refactor(project dependencies): :recycle: small refactor, no impact
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/config/share.ts
Due: eslint --fix

feat(components): :sparkles: new ship profile component
  docs/.vitepress/components/BreadCrumb.vue
  docs/.vitepress/components/dfc/ShipCard.vue
  docs/.vitepress/components/dfc/ShipCardCharacteristics.vue
  docs/.vitepress/components/dfc/ShipCardLaunch.vue
  docs/.vitepress/components/dfc/ShipCardWeapons.vue
  docs/en.dfc.api.data.ts
  docs/en.dzc.api.data.ts
  docs/es.dfc.api.data.ts
  docs/es.dzc.api.data.ts
Due: eslint --fix

perf(components): :zap: separate document data loaders
  docs/.vitepress/components/dfc/ShipCard.vue
  docs/en.dfc.documents.data.ts
  docs/en.dzc.documents.data.ts
  docs/es.dfc.documents.data.ts
  docs/es.dzc.documents.data.ts
Due: eslint --fix

build(project dependencies): :arrow_up: update vue & vitepress
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/cache/deps_temp_66918371/package.json
  docs/.vitepress/cache/deps_temp_66918371/vue.js
  docs/.vitepress/cache/deps_temp_66918371/vue.js.map
  package-lock.json
Due: eslint --fix

refactor(components): :recycle: optimice code
  docs/documents.data.ts
  docs/en.dfc.documents.data.ts
  docs/en.dzc.documents.data.ts
  docs/es.dfc.documents.data.ts
  docs/es.dzc.documents.data.ts
Due: eslint --fix

chore(pwa): :wrench: create robots.txt so that AI can't use website content
  docs/public/robots.txt
Due: none

chore(build system): :construction: update proyect plugin recomendations
  .vscode/extensions.json
  docs/.vitepress/theme/custom.css
Due: stylelint

style(styles): :lipstick: custom styles
  docs/.vitepress/cache/deps_temp_66918371/package.json
  docs/.vitepress/cache/deps_temp_66918371/vue.js
  docs/.vitepress/cache/deps_temp_66918371/vue.js.map
  docs/.vitepress/components/dfc/ShipCard.vue
  docs/.vitepress/theme/custom.css
Due: eslint --fix, stylelint
