Repository isorna/dropcommander: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, postcss --config postcss.config.js --replace, remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

chore(devX): :technologist: add recommended vs code extensions
  .vscode/extensions.json
Due: none

chore(devX): :technologist: improve recommended plugins
  .vscode/extensions.json
Due: none

chore(devX): :technologist: updated vs code extensions
  .vscode/extensions.json
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update package-lock.json
  package-lock.json
Due: none

Update package.json
  package.json
Due: none

build(security): :building_construction: update security dependencies
  package-lock.json
  package.json
Due: none

perf(tools): :rotating_light: update stylelint configuration and dependencies
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

chore(tools): :wrench: add vscode settings to repository
  .gitignore
  .vscode/settings.json
Due: none

feat: :sparkles: added light mode styles, fixed some url bugs
  .gitignore
  .vscode/extensions.json
  README.md
  docs/.vitepress/components/BreadCrumb.vue
  docs/.vitepress/components/CategoryCard.vue
  docs/.vitepress/components/CategoryCardsContainer.vue
  docs/.vitepress/meta.ts
  docs/.vitepress/theme/custom.css
  package.json
  postcss.config.cjs
Due: eslint --fix, stylelint, remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

Update VitePress cache metadata, dependencies, and adjust .gitignore for cache and dist directories
  .gitignore
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
Due: eslint --fix

Update .gitignore to include .firebase directory and mark 'Create light mode styles' as completed in README.md
  .gitignore
  README.md
Due: remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

Update theme color and PWA manifest for improved user experience
  README.md
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/share.ts
Due: eslint --fix, remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

unify info and example bubbles
  README.md
  docs/.vitepress/config/en.ts
Due: eslint --fix, remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

style: :lipstick: set up font family for table text
  docs/.vitepress/theme/custom.css
Due: stylelint

feat: :sparkles: update dfc docs to v1.7, add faqs and scenarios
  docs/.vitepress/theme/custom.css
  docs/public/img/ui/120x120.svg
  docs/public/img/ui/200x200.svg
  docs/public/img/ui/20x20.svg
  docs/public/img/ui/400x400.svg
  docs/public/img/ui/40x40.svg
  docs/public/img/ui/80x80.svg
Due: stylelint

fix: pwa registration bugs
  README.md
  docs/.vitepress/components/Layout.vue
  docs/.vitepress/components/RegisterSW.vue
  docs/.vitepress/components/ReloadPrompt.vue
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/share.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/index.md
  docs/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, stylelint, remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

docs: :memo: update documentation, fix typos, add es translations
  README.md
  docs/public/img/ui/PHR Logo.png
  docs/public/img/ui/Resistance logo.png
  docs/public/img/ui/Scourge Logo.png
  docs/public/img/ui/Shaltari logo.png
  docs/public/img/ui/UCM Logo.png
Due: remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

feat: :sparkles: new cards for profiles, testing
  README.md
  docs/.vitepress/components/dfc/ShipCard.vue
  docs/.vitepress/components/dfc/ShipCardWeapons.vue
  docs/.vitepress/components/dzc/TroopCard.vue
  docs/.vitepress/config/share.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
Due: eslint --fix, stylelint, remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --

build: :heavy_plus_sign: changes to dependencies due to breaking changes
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint: (any of: *.css) or (any of: *.scss)
  postcss --config postcss.config.js --replace: any of: *.scss
  remark --frail --quiet --ignore-path .remarkignore --rc-path .remarkrc.json --: any of: *.md
